.conditions__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 25px;
  color: $white;
}

.conditions__list {
  @include list-reset;
  padding-top: 5px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.conditions__item {
  padding: 25px 26px;
  outline: 1px solid $add-light;
  border-radius: 16px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .conditions__title {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .conditions__list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 48px;
    row-gap: 25px;
    padding-left: 20px;
    padding-top: 15px;
  }

  .conditions__item {
    width: 305px;
    padding: 30px 41px 30px 25px;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    border: 1px solid $add-light;
  }

  .conditions__item span {
    font-size: 22px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .conditions {
    width: 493px;
  }

  .conditions__title {
    width: 373px;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .conditions__list {
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 23px;
  }

  .conditions__item {
    width: 478px;
    line-height: 26px;
    padding: 30px 25px;
  }
}
