.header {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 10;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 290px;
  margin: 0 auto;

  &--menu-open {
    @media (max-width: $mobile-width-max) {
      justify-content: center;
    }
  }
}

.header__logo img {
  display: block;
}

@media (min-width: $tablet-width) {
  .header__wrapper {
    width: 678px;
    padding-top: 30px;
  }

  .header__logo {
    padding-top: 2px;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    width: 1240px;
  }
}
