.news {
  padding-top: 50px;
  padding-bottom: 50px;
}

.news__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: $add-accent;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .news__title {
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .news {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .news__title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 40px;
  }
}
