.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.reviews__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin: 5px 0 35px;
  color: $add-accent;
}

.reviews__slides {
  height: 472px;
}

.reviews__button-prev,
.reviews__button-next {
  position: absolute;
  border: none;
  top: 55px;
  color: $add-accent;
  width: 22px;
  height: 22px;
  cursor: pointer;

  &:disabled {
    color: $disabled;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:focus-visible {
    background-color: $white;
    border-radius: 50%;
    outline: none;
  }

  &:active {
    background-color: $white;
    opacity: 0.7;
    border-radius: 50%;
  }
}

.reviews__button-prev {
  right: 45px;
  svg {
    transform: rotate(-180deg);
  }
}

.reviews__button-next {
  right: 15px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 112px;
  }

  .reviews__slides {
    width: auto;
    height: 417px;
    margin-right: -45px;
  }

  .reviews__title {
    font-size: 34px;
    line-height: 50px;
    margin: 0 0 40px;
  }

  .reviews__button-prev,
  .reviews__button-next {
    top: 597px;
  }

  .reviews__scrollbar {
    margin-top: 50px;
    width: 562px;
    height: 2px;
    background-color: rgba(49, 109, 194, 0.2);
  }

  .reviews__scrollbar .swiper-scrollbar-drag {
    height: 2px;
    background-color: $add-accent;
  }
}

@media (min-width: $desktop-width) {

}
