.selection {
  height: 640px;
  color: $add-accent;
}

.selection__slides {
  height: 100%;
  position: relative;
  width: 290px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.selection__slide {
  position: relative;
  width: 100%;
}

.selection__img img {
  display: block;
  border-radius: 12px;
  width: 100%;
}

.selection__content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.selection__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  padding: 12px 12px 6px 0;
  background-color: $add-light;
  border-radius: 0 12px 0 0;
  position: relative;
  width: 78px;
  display: block;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-curvature-beige-view");
    top: -15px;
    left: 0;
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-curvature-beige-view");
    bottom: 0;
    left: 78px;
    background-repeat: no-repeat;
  }
}

.selection__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background-color: $add-light;
  border-radius: 0 12px 0 0;
  width: 200px;
  padding: 10px 18px 4px 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-curvature-beige-view");
    bottom: 0;
    left: 200px;
    background-repeat: no-repeat;
  }
}

.selection__description {
  padding: 12px 10px 10px 0;
  border-radius: 0 12px 0 0;
  background-color: $add-light;
  column-gap: 10px;
  width: 263px;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-curvature-beige-view");
    bottom: 0;
    left: 263px;
    background-repeat: no-repeat;
  }
}

.selection__description p {
  width: 213px;
  color: $dark-main;
  min-height: 28px;
}

.selection__slide:nth-child(2n) .selection__description a {
  margin-top: 0;
}

.selection__button-prev,
.selection__button-next {
  position: absolute;
  border: none;
  bottom: 4px;
  color: $add-accent;
  width: 22px;
  height: 22px;
  cursor: pointer;
  text-align: center;

  &:disabled {
    color: $disabled;
  }
}

.selection__button-prev {
  left: 0;
  svg {
    transform: rotate(-180deg);
  }
}

.selection__button-next {
  right: 0;
}

.selection__pagination {
  display: flex;
  column-gap: 16px;
  position: absolute;
  bottom: 0;
  left: 69px;
}

.selection__pagination .swiper-pagination-bullet {
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: $add-accent;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
}

.selection__pagination .swiper-pagination-bullet-active {
  background-color: $add-accent;
  color: $white;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .selection {
    height: 792px;
  }

  .selection__slides {
    width: 678px;
    padding-bottom: 62px;
  }

  .selection__title {
    font-size: 20px;
    line-height: 24px;
    width: 207px;
    padding: 10px 16px 6px 0;

    &::after {
      left: 207px;
    }
  }

  .selection__description {
    padding: 12px 18px 15px 0;
    width: 240px;
    column-gap: 16px;
    justify-content: center;
    align-items: center;

    &::after {
      left: 240px;
    }
  }

  .selection__description p {
    width: 176px;
    min-height: 40px;
  }

  .selection__description a {
    margin-top: 0;
  }

  .selection__pagination {
    column-gap: 20px;
    left: 245px;
  }

  .selection__pagination .swiper-pagination-bullet {
    width: 32px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .selection {
    height: 472px;
  }

  .selection__slides {
    width: 1240px;
    padding-bottom: 72px;
  }

  .selection__title {
    font-size: 24px;
    line-height: 26px;
    width: 190px;
    padding: 10px 21px 4px 0;

    &::after {
      left: 190px;
    }
  }

  .selection__description p {
    min-height: 36px;
  }

  .selection__slide:first-child {
    .selection__title {
      font-size: 24px;
      line-height: 26px;
      width: 426px;
      padding: 18px 18px 6px 0;

      &::after {
        left: 426px;
      }
    }

    .selection__description {
      width: 468px;

      &::after {
        left: 468px;
      }
    }

    .selection__description p {
      width: 404px;
      min-height: 36px;
    }
  }

  .selection__pagination {
    left: 526px;
  }
}
