.show-hero {
  width: 100%;
}

.show-hero__wrapper {
  width: 100%;
}

.show-hero__slide {
  display: flex;
  justify-content: center;
}

.show-hero__slide {
  position: relative;
  height: 568px;
}
.show-hero__content {
  position: absolute;
  bottom: 20px;
  width: auto;
  margin: 0 auto;
}

.show-hero__img img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 568px;
  object-fit: cover;
  object-position: center;
}

.show-hero__control {
  display: block;
  position: relative;
  width: 80px;
  height: 28px;
  padding: 10px 16px;
  border-radius: 14px 14px 0 0;
  background-color: $white;

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 10px;
    background-image: url("/__spritemap#sprite-curvature-view");
    top: 19px;
    right: -8px;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
  }
}

.show-hero__title {
  font-family: "Manrope", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $add-accent;
  width: 290px;
  padding: 20px 14px 16px 14px;
  border-radius: 0 14px 14px 0px;
  background-color: $white;
  margin: 0;
  position: relative;
}

.show-hero__content p {
  font-size: 16px;
  width: 267px;
  padding: 0 14px 15px 14px;
  border-radius: 0 0 14px 0px;
  background-color: $white;
  margin: 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 10px;
    background-image: url("/__spritemap#sprite-curvature-view");
    top: 0;
    right: -8px;
    background-repeat: no-repeat;
  }
}

.show-hero__btn-wrap {
  width: 184px;
  padding: 10px 15px;
  border-radius: 0 0 14px 14px;
  background-color: $white;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 10px;
    background-image: url("/__spritemap#sprite-curvature-view");
    top: 0;
    right: -8px;
    background-repeat: no-repeat;
  }
}

.show-hero__btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 15px 58px 15px 20px;
  position: relative;

  &:hover {
    .show-hero__btn-arrow {
      color: $add-accent;
      background-color: $white;
      transform: rotate(45deg);
    }
  }

  &:active {
    .show-hero__btn-arrow {
      background-color: $white;
      color: $add-accent;
      transform: rotate(45deg);
    }
  }

  &:disabled {
    .show-hero__btn-arrow {
      background-color:$disabled;
      color: $white;
    }
  }

  &:focus,
  &:focus-visible {
    .show-hero__btn-arrow {
      transform: rotate(45deg);
    }
  }
}

.show-hero__btn-arrow {
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  right: 4px;
  top: 4px;
  color: $white;
  background-color: $add-accent;
  border-radius: 50%;
  padding: 12px;
}

.show-hero__pagination {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  position: absolute;
  bottom: 347px;
  z-index: 10;
  left: 30px;
}

.show-hero__pagination .swiper-pagination-bullet {
  border: 2px solid $add-accent;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  opacity: 1;
  background-color: inherit;
}

.show-hero__pagination .swiper-pagination-bullet-active {
  background-color: $add-accent;
}

@media (min-width: $tablet-width) {
  .show-hero__slide {
    height: 1024px;
  }
  .show-hero__content {
    bottom: 60px;
    display: grid;
    grid-template-rows: 40px auto auto;
    grid-template-columns: auto 1fr;
  }

  .show-hero__img img {
    height: 1024px;
  }

  .show-hero__control {
    display: block;
    position: relative;
    width: 100px;
    height: 40px;
    padding: 14px 20px;
    border-radius: 14px 14px 0 0;
    background-color: $white;
    grid-column: 1/2;
    grid-row: 1/2;

    &::after {
      width: 20px;
      height: 20px;
      top: 22px;
      right: -20px;
    }
  }

  .show-hero__title {
    font-size: 36px;
    line-height: 44px;
    width: 659px;
    padding: 30px 69px 24px 40px;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .show-hero__content p {
    width: 325px;
    padding: 0 0 35px 40px;
    border-radius: 0 0 0 14px;
    grid-column: 1/2;
    grid-row: 3/4;

    &::after {
      content: none;
    }
  }

  .show-hero__btn-wrap {
    width: 268px;
    padding: 0 40px 79px 30px;
    border-radius: 0 0 14px 0;
    grid-column: 2/3;
    grid-row: 3/4;

    &::after {
      width: 20px;
      height: 20px;
      right: -19px;
    }
  }

  .show-hero__btn {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    padding: 21px 81px 21px 31px;
  }

  .show-hero__btn-arrow {
    width: 46px;
    height: 46px;
    right: 5px;
    top: 5px;
    padding: 18px;
  }

  .show-hero__pagination {
    bottom: 351px;
    left: 65px;
  }

  .show-hero__pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}
