$backdrop: #f0efe9;
$white: #ffffff;
$dark-main: #484848;
$add-light: #f0efe9;
$add-accent: #316dc2;
$add-blue-button: #275699;
$disabled: #a9afb7;

// размеры вьюпорта

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-max: 767px;
$mobile-width: 320px;
